// src/app/pages/add-contact/add-contact.page.scss

ion-header {
    ion-toolbar {
      --ion-background-color: #3880ff; // Cambia el color de fondo del encabezado
      color: #fff; // Cambia el color del texto del encabezado
    }
  }
  
  ion-content {
    .ion-padding {
      padding: 20px; // Ajusta el espaciado interno del contenido
    }
  
    .welcome-message {
      text-align: center; // Centra el texto dentro del div
      margin-bottom: 20px; // Agrega margen inferior al div
    }
  
    ion-button {
      margin-top: 10px; // Agrega margen superior a los botones
    }
  }
  