<!-- src/app/pages/add-contact/add-contact.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Agregar Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="nuevoContacto.nombre" name="nombre" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input [(ngModel)]="nuevoContacto.apellido" name="apellido" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input [(ngModel)]="nuevoContacto.direccion" name="direccion" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input [(ngModel)]="nuevoContacto.telefono" name="telefono" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input [(ngModel)]="nuevoContacto.correo" name="correo" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Foto</ion-label>
      <input type="file" (change)="onFileSelected($event)">
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="guardarContacto()">Guardar Contacto</ion-button>

  <!-- Botón para volver al Home -->
  <ion-button expand="full" (click)="volverAlHome()">Volver al Home</ion-button>
</ion-content>
