<!-- home.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido a la Agenda de Contactos
    </ion-title>
    <ion-buttons slot="end">
      <!-- Agregamos el botón de salida (logout) -->
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-message">
    <p>¡Gracias por usar nuestra aplicación de Agenda de Contactos!</p>
    <p>Aquí puedes gestionar tus contactos de manera fácil y rápida.</p>
  </div>

  <ion-button expand="full" routerLink="/add-contact">Agregar Contacto</ion-button>
  <ion-button expand="full" routerLink="/contact-list">Ver Lista de Contactos</ion-button>
</ion-content>
