<!-- home.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido a la Agenda de Contactos
    </ion-title>
    <ion-buttons slot="end">
      <!-- Agregamos el botón de salida (logout) -->
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-message">
    <h1>Bienvenido a la Agenda de Contactos</h1>
    <p>¡Gracias por elegir nuestra aplicación para gestionar tus contactos!</p>

    <p>La Agenda de Contactos te ofrece una manera fácil y rápida de organizar y mantener tu lista de contactos.</p>

    <p>Características destacadas:</p>
    <ul>
      <li>Agregar nuevos contactos de forma sencilla.</li>
      <li>Ver y editar detalles de tus contactos existentes.</li>
      <li>Navegar por la lista de contactos de manera intuitiva.</li>
    </ul>

    <p>No dudes en explorar todas las funciones y hacer un uso completo de la aplicación.</p>
  </div>

  <!-- Botón para agregar un contacto -->
  <ion-button expand="full" routerLink="/add-contact">Agregar Contacto</ion-button>

  <!-- Botón para ver la lista de contactos -->
  <ion-button expand="full" routerLink="/contact-list">Ver Lista de Contactos</ion-button>
</ion-content>
